<ion-header>
  <ion-navbar color="primary">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Users
    </ion-title>
    <!--<ion-searchbar (ionInput)="getItems($event)" placeholder="Search user"></ion-searchbar>-->
  </ion-navbar>
</ion-header>

<ion-content>

  <div text-center class="loader" *ngIf="(followUsers$ |async) === null">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div text-center class="no-items" *ngIf="(followUsers$ |async)?.length === 0">
    Add user to see his coins
  </div>


  <div *ngIf="followUsers$ |async as followUsers">
    <ion-list class="favorite" *ngIf="followUsers.length > 0">
      <ion-list-header>
        Subscribed to
      </ion-list-header>
      <ion-item *ngFor="let user of followUsers">
        <ion-avatar item-start>
          <img [src]="user.avatar || 'assets/icon/no-avatar.jpg'" [alt]="user.id"/>
        </ion-avatar>
        <h2>{{user.name}}</h2>
        <p>{{user.country}}</p>


        <button ion-button clear item-end (click)="removeUser(user)">
          Unfollow
        </button>

        <!--
        <button ion-button clear item-end class="my-secondary">
           <ion-icon name="ios-star"></ion-icon>
        </button>
      -->

      </ion-item>
    </ion-list>
  </div>

  <message-bar>
    Issue: only one user supported
  </message-bar>

  <message-bar>
    Issue: if you change the user, you have to update cache manually
  </message-bar>


  <!-- this fab is placed at bottom right -->
  <ion-fab bottom right (click)="addUser()">
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
