<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ country ? country.name : '' }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div text-center *ngIf="loading" class="loader">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div text-center *ngIf="!loading && !periods" class="no-items">
    No data
  </div>

  <ion-list *ngIf="!loading && periods">
    <div ion-item *ngFor="let period of periods">
      <button ion-button full clear text-left (click)="openItem(period)">
        {{period.name}}
        <span class="gray">({{period.dates}})</span>
      </button>

      <!-- if offline -->
      <span *ngIf="period.availableLocal" class="icon-offline" item-end ></span>

      <!-- actions -->
      <button ion-button clear item-end class="my-secondary" (click)="showOptions(period)">
        <ion-icon name="more"></ion-icon>
      </button>

    </div>
  </ion-list>


</ion-content>
