coins {
  ion-icon.no-coin {
    font-size: 40px;
    margin-left: 3.5px;
  }

  ion-avatar {
    margin-right: 10px;
  }

  ion-avatar,
  ion-avatar img {
    display: inline;
  }

  .item-inner .button-inner {
    display: flex;
    justify-content: left;
  }

  .margin-left {
    margin-left: 10px;
  }

  ion-badge {
    padding: 3px 4px;
  }

  .segment-button {
      text-overflow: unset;
    .ellipsis{

      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;

      width: 75%;
    }

    ion-badge {
      display: inline-block;
      vertical-align: top;
      margin-top: 10px;
    }
  }

}
