<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ country ? country.name : '' }} - {{ period ? period.name : '' }}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="coinTab">
      <ion-segment-button value="1" (click)="loadCoins(coinTab)">
        <span class="ellipsis">{{ 'CIRCULAR' | translate }}</span>
        <ion-badge color="light" *ngIf="coinsLoaded[1]">{{coins[1].length}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="2" (click)="loadCoins(coinTab)">
        <span class="ellipsis">{{ 'COMMEMORATIVE' | translate }}</span>
        <ion-badge color="light" *ngIf="coinsLoaded[2]">{{coins[2].length}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="3" (click)="loadCoins(coinTab)">
        <span class="ellipsis">{{ 'COLLECTOR' | translate }}</span>
        <ion-badge color="light" *ngIf="coinsLoaded[3]">{{coins[3].length}}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div text-center *ngIf="loading" class="loader">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ng-template [ngIf]="!loading">

    <div *ngIf="coins[coinTab].length==0" class="no-items">
      <i>No items</i>
    </div>

    <ion-list *ngFor="let o of coinsGrouped[coinTab]">
      <ion-list-header>
          {{o.key}}
      </ion-list-header>
      <!-- <ion-item *ngFor="let coin of coins">    -->
      <ion-item *ngFor="let coin of o.value" [attr.owned]="coin.userOwn ? 'true' : 'false'">
        <button ion-button clear (click)="openItem(coin)" full text-left>

          <ion-avatar>
            <img *ngIf="coin.image1 || coin.image2" [src]="coin.image1 || coin.image2" />
            <ion-icon *ngIf="!(coin.image1 || coin.image2)" name="ios-close-circle-outline" class="no-coin"></ion-icon>
          </ion-avatar>

          <span class="my-label">
            {{coin.year}}
            /
            {{coin.value}}
            /
            {{coin.variety}}
            /
            {{coin.km}}
          </span>

          <span class="gray margin-left">
            {{coin.name}}
          </span>
        </button>


        <ion-icon *ngIf="coin.userOwn" class="gray" name="checkmark" item-end></ion-icon>
        <!-- <ion-icon *ngIf="coin.availableLocal" class="gray" item-end name="checkmark"></ion-icon> -->

        <!--<button ion-button clear item-end (click)="openItem(coin)">View</button>-->
      </ion-item>

    </ion-list>

  </ng-template>

</ion-content>
