<ion-header>
  <ion-navbar color="primary">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!--<ion-title>-->
      <!--Countries-->
    <!--</ion-title>-->
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Search country"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>

  <div text-center *ngIf="loading" class="loader">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <div text-center *ngIf="!loading && !countriesGroup" class="no-items">
    No data
  </div>

  <ng-template [ngIf]="!loading">


    <ng-template [ngIf]="showFavorites">
      <ion-list class="favorite">
        <ion-list-header>
          Saved
        </ion-list-header>
        <ion-item *ngFor="let country of countriesFavorite">
          <button ion-button clear (click)="openItem(country)" full text-left>
            <flag [country]="country.id"></flag>
            <span class="my-label">{{country.name}}  </span>
            <span class="gray">({{country.coinsCount}})</span>
          </button>


          <span *ngIf="country.availableLocal" class="icon-offline" item-end></span>

          <!-- hide unless we figure out cache rules
          <button ion-button clear item-end class="my-secondary" (click)="showOptions(country)">
            <ion-icon name="more"></ion-icon>
          </button>
          -->

          <!--
          <button ion-button clear item-end class="my-secondary">
             <ion-icon name="ios-star"></ion-icon>
          </button>
        -->

        </ion-item>
      </ion-list>
    </ng-template>

    <button ion-button full *ngIf="!showAll" color="light" (click)="showAll = !showAll">
      <span *ngIf="!showAll">
        <ion-icon name="arrow-down"></ion-icon>
        <span>Show all countries</span>
      </span>
      <span *ngIf="showAll">
        <ion-icon name="arrow-up"></ion-icon>
        <span>Show cashed only</span>
      </span>
    </button>

    <ng-template [ngIf]="showAll">
      <ion-list *ngFor="let o of countriesGroup">
        <ion-list-header>
          {{o.key}}
        </ion-list-header>
        <ion-item *ngFor="let country of o.value">
          <button ion-button clear (click)="openItem(country)" full text-left>
            <flag [country]="country.id"></flag>
            <span class="my-label">{{country.name}}  </span>
            <span class="gray">({{country.coinsCount}})</span>
          </button>


          <span *ngIf="country.availableLocal" class="icon-offline" item-end></span>

          <!-- hide unless we figure out cache rules
          <button ion-button clear item-end class="my-secondary" (click)="showOptions(country)">
            <ion-icon name="more"></ion-icon>
          </button>
          -->

          <!--
          <button ion-button clear item-end class="my-secondary">
             <ion-icon name="ios-star"></ion-icon>
          </button>
        -->

        </ion-item>
      </ion-list>
    </ng-template>
  </ng-template>

</ion-content>
