// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.gray {
  color: gray;
}

.bold {
  font-weight: bolder;
}


flag .flag {
  display: inline-block;
  float: none;
  position: relative;
  top: 5px;
}


// https://htmlcolorcodes.com/color-chart/material-design-color-chart/
$favoriteColor: #F3FFE0;


ion-item[owned="true"] {
  background: $favoriteColor;
}

.loader {
  margin-top: 10px;
}


.no-items {
  text-align: center;
  margin-top: 10px;
}

.slide-zoom {
  height: 100%;
}

.alert-message {
  overflow-y: auto;
}

ion-slides[pager] {
  .slide-zoom {
    padding-bottom: 50px;
  }
}

ion-footer {
  background: $background-color;
}


/**
 * text-color
 */


.alert-button.text-danger,
.text-danger {
  //color: #e13838;
  color: map-get($colors, danger);
}
