page-user-add {
  flag {
    margin-right: 10px;
  }

  .item-inner ion-label.label-md {
    margin-top: 0;
    margin-bottom: 0;
  }

  .item-md .item-button {
    margin-top: 0;
    margin-bottom: 0;
    height: 43px;
  }

  .item-inner .button-inner {
    display: inline;
  }

  .my-label {
    line-height: 43px;
  }

  .my-secondary {
    width: 43px;


    ion-icon {
      font-size: 1.7em;
    }
  }


  .icon-offline {
    // &::before {
    //   content: url(../assets/icon/baseline-cloud_off-24px.svg)
    // }
    background-image: url(../../../assets/icon/baseline-cloud_off-24px.svg);
    background-size: 21px 28px;
    display: block;
    width: 21px;
    height: 28px;
    float: left;
  }
}
