<ion-header>
  <ion-navbar color="primary">

    <ion-title>
      User search
    </ion-title>
    <!--<ion-searchbar (ionInput)="getItems($event)" placeholder="Search user"></ion-searchbar>-->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search user"></ion-searchbar>

  <div text-center *ngIf="loading" class="loader">
    <ion-spinner name="dots"></ion-spinner>
  </div>


  <ng-template [ngIf]="users">
    <ion-list class="favorite">
      <ion-list-header>
        Search results
      </ion-list-header>
      <ion-item *ngFor="let user of users.items">
        <ion-avatar item-start>
          <img [src]="user.avatar || 'assets/icon/no-avatar.jpg'" [alt]="user.id" />
        </ion-avatar>
        <h2>{{user.name}}</h2>
        <p>{{user.country}}</p>


        <button ion-button clear item-end (click)="addUser(user)">
          Select
        </button>



        <!-- hide unless we figure out cache rules
        <button ion-button clear item-end class="my-secondary" (click)="showOptions(country)">
          <ion-icon name="more"></ion-icon>
        </button>
        -->

        <!--
        <button ion-button clear item-end class="my-secondary">
           <ion-icon name="ios-star"></ion-icon>
        </button>
      -->

      </ion-item>
    </ion-list>
  </ng-template>

  <div text-center *ngIf="!loading && users && users.items.length==0" class="no-items">
    No users found
  </div>


  <div text-center *ngIf="!loading && !users" class="no-items">
    Start searching to see results
  </div>

</ion-content>
