<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="coin">
      {{coin.year}}
      /
      {{coin.value}}
      /
      {{coin.variety}}
      /
      {{coin.km}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div text-center *ngIf="loading" class="loader">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ng-template [ngIf]="!loading && coinDetails">
    <ion-slides pager="true">
      <ion-slide>
        <img-fit padding [src]="coinDetails.image1big" ></img-fit>
      </ion-slide>
      <ion-slide>
        <img-fit padding [src]="coinDetails.image2big" ></img-fit>
      </ion-slide>
    </ion-slides>


    <ion-list>
      <ion-item *ngIf="coin && coin.name">
        <p>Coin name</p>
        <p item-end>
          {{ coin.name }}
        </p>
      </ion-item>

      <ion-item>
        <p>Min value</p>
        <p item-end class="bold">
          {{ coinDetails.price || '-' }}
        </p>
      </ion-item>

      <ion-item *ngIf="coin">
        <p>Owned by user(s)</p>
        <p item-end class="bold">
          {{ coin.userOwn ? 'yes' : 'no' }}
        </p>
      </ion-item>

    </ion-list>
  </ng-template>

  <ng-template [ngIf]="!loading && !coinDetails">
    <p text-center class="no-items">Error loading coin details</p>
  </ng-template>

</ion-content>
