.flag{
	background-color:#FFFFFF;
	background-image:url(../assets/flags-20170817.png);
	// background-image:url(file:///android_asset/www/assets/flags-20170817.png);
	background-position:left bottom;
	background-repeat:no-repeat;
	display:block;
	width:24px;
	height:18px;
	float:left;
	}

	.sprite-gibraltar { background-position: 0 0; }
	.sprite-iran { background-position: 0 -19px; }
	.sprite-syria { background-position: 0 -38px; }
	.sprite-kazakhstan { background-position: 0 -57px; }
	.sprite-costa_rica { background-position: 0 -76px; }
	.sprite-martinique { background-position: 0 -95px; }
	.sprite-lithuania { background-position: 0 -114px; }
	.sprite-albania { background-position: 0 -133px; }
	.sprite-armenia { background-position: 0 -152px; }
	.sprite-austria { background-position: 0 -171px; }
	.sprite-azerbaijan { background-position: 0 -190px; }
	.sprite-belarus { background-position: 0 -209px; }
	.sprite-belgium { background-position: 0 -228px; }
	.sprite-bosnia_herzegovina { background-position: 0 -247px; }
	.sprite-bulgaria { background-position: 0 -266px; }
	.sprite-croatia { background-position: 0 -285px; }
	.sprite-cyprus { background-position: 0 -304px; }
	.sprite-czech_republic { background-position: 0 -323px; }
	.sprite-denmark { background-position: 0 -342px; }
	.sprite-estonia { background-position: 0 -361px; }
	.sprite-faroes { background-position: 0 -380px; }
	.sprite-finland { background-position: 0 -399px; }
	.sprite-france { background-position: 0 -418px; }
	.sprite-georgia { background-position: 0 -437px; }
	.sprite-germany { background-position: 0 -456px; }
	.sprite-greece { background-position: 0 -475px; }
	.sprite-hungary { background-position: 0 -494px; }
	.sprite-ireland { background-position: 0 -513px; }
	.sprite-nofalg { background-position: 0 -532px; }

	.sprite-latvia { background-position: -24px 0; }
	.sprite-macedonia { background-position: -24px -19px; }
	.sprite-malta { background-position: -24px -38px; }
	.sprite-moldova { background-position: -24px -57px; }
	.sprite-montenegro { background-position: -24px -76px; }
	.sprite-netherlands { background-position: -24px -95px; }
	.sprite-norway { background-position: -24px -114px; }
	.sprite-poland { background-position: -24px -133px; }
	.sprite-portugal { background-position: -24px -152px; }
	.sprite-romania { background-position: -24px -171px; }
	.sprite-russia { background-position: -24px -190px; }
	.sprite-serbia { background-position: -24px -209px; }
	.sprite-slovakia { background-position: -24px -228px; }
	.sprite-slovenia { background-position: -24px -247px; }
	.sprite-spain { background-position: -24px -266px; }
	.sprite-sweden { background-position: -24px -285px; }
	.sprite-switzerland { background-position: -24px -304px; }
	.sprite-turkey { background-position: -24px -323px; }
	.sprite-ukraine { background-position: -24px -342px; }
	.sprite-united_kingdom { background-position: -24px -361px; }
	.sprite-argentina { background-position: -24px -380px; }
	.sprite-belize { background-position: -24px -399px; }
	.sprite-brazil { background-position: -24px -418px; }
	.sprite-canada { background-position: -24px -437px; }
	.sprite-chile { background-position: -24px -456px; }
	.sprite-colombia { background-position: -24px -475px; }
	.sprite-dominican_republic { background-position: -24px -494px; }
	.sprite-ecuador { background-position: -24px -513px; }
	.sprite-el_salvador { background-position: -24px -532px; }

	.sprite-guatemala { background-position: -48px 0; }
	.sprite-guyana { background-position: -48px -19px; }
	.sprite-honduras { background-position: -48px -38px; }
	.sprite-mexico { background-position: -48px -57px; }
	.sprite-nicaragua { background-position: -48px -76px; }
	.sprite-panama { background-position: -48px -95px; }
	.sprite-paraguay { background-position: -48px -114px; }
	.sprite-peru { background-position: -48px -133px; }
	.sprite-puerto_rico { background-position: -48px -152px; }
	.sprite-trinidad_tobago { background-position: -48px -171px; }
	.sprite-uruguay { background-position: -48px -190px; }
	.sprite-usa { background-position: -48px -209px; }
	.sprite-virgin_islands_us { background-position: -48px -228px; }
	.sprite-venezuela { background-position: -48px -247px; }
	.sprite-bahrain { background-position: -48px -266px; }
	.sprite-bangladesh { background-position: -48px -285px; }
	.sprite-china { background-position: -48px -304px; }
	.sprite-egypt { background-position: -48px -323px; }
	.sprite-hong_kong { background-position: -48px -342px; }
	.sprite-india { background-position: -48px -361px; }
	.sprite-indonesia { background-position: -48px -380px; }
	.sprite-iraq { background-position: -48px -399px; }
	.sprite-israel { background-position: -48px -418px; }
	.sprite-japan { background-position: -48px -437px; }
	.sprite-jordan { background-position: -48px -456px; }
	.sprite-kuwait { background-position: -48px -475px; }
	.sprite-kyrgyzstan { background-position: -48px -494px; }
	.sprite-lebanon { background-position: -48px -513px; }
	.sprite-macau { background-position: -48px -532px; }

	.sprite-malaysia { background-position: -72px 0; }
	.sprite-mongolia { background-position: -72px -19px; }
	.sprite-pakistan { background-position: -72px -38px; }
	.sprite-philippines { background-position: -72px -57px; }
	.sprite-saudi_arabia { background-position: -72px -76px; }
	.sprite-singapore { background-position: -72px -95px; }
	.sprite-southkorea { background-position: -72px -114px; }
	.sprite-taiwan { background-position: -72px -133px; }
	.sprite-tajikistan { background-position: -72px -152px; }
	.sprite-thailand { background-position: -72px -171px; }
	.sprite-united_arab_emirates { background-position: -72px -190px; }
	.sprite-uzbekistan { background-position: -72px -209px; }
	.sprite-vietnam { background-position: -72px -228px; }
	.sprite-gabon { background-position: -72px -247px; }
	.sprite-kenya { background-position: -72px -266px; }
	.sprite-libya { background-position: -72px -285px; }
	.sprite-mozambique { background-position: -72px -304px; }
	.sprite-namibia { background-position: -72px -323px; }
	.sprite-rwanda { background-position: -72px -342px; }
	.sprite-south_africa { background-position: -72px -361px; }
	.sprite-american_samoa { background-position: -72px -380px; }
	.sprite-australia { background-position: -72px -399px; }
	.sprite-guam { background-position: -72px -418px; }
	.sprite-new_zealand { background-position: -72px -437px; }
	.sprite-luxembourg { background-position: -72px -456px; }
	.sprite-monaco { background-position: -72px -475px; }
	.sprite-san_marino { background-position: -72px -494px; }
	.sprite-vatican_city { background-position: -72px -513px; }
	.sprite-german_democratic_republic { background-position: -72px -532px; }

	.sprite-ussr { background-position: -96px 0; }
	.sprite-third_reich { background-position: -96px -19px; }
	.sprite-italy { background-position: -96px -38px; }
	.sprite-togo { background-position: -96px -57px; }
	.sprite-jamaica { background-position: -96px -76px; }
	.sprite-bolivia { background-position: -96px -95px; }
	.sprite-nepal { background-position: -96px -114px; }
	.sprite-morocco { background-position: -96px -133px; }
	.sprite-tunisia { background-position: -96px -152px; }
	.sprite-jersey { background-position: -96px -171px; }
	.sprite-cuba { background-position: -96px -190px; }
	.sprite-suriname { background-position: -96px -209px; }
	.sprite-afghanistan { background-position: -96px -228px; }
	.sprite-palestine { background-position: -96px -247px; }
	.sprite-yugoslavia { background-position: -96px -266px; }
	.sprite-south_korea { background-position: -96px -285px; }
	.sprite-cote_d_ivoire { background-position: -96px -304px; }
	.sprite-mauritius { background-position: -96px -323px; }
	.sprite-aruba { background-position: -96px -342px; }
	.sprite-bahamas { background-position: -96px -361px; }
	.sprite-botswana { background-position: -96px -380px; }
	.sprite-ghana { background-position: -96px -399px; }
	.sprite-swaziland { background-position: -96px -418px; }
	.sprite-myanmar { background-position: -96px -437px; }
	.sprite-algeria { background-position: -96px -456px; }
	.sprite-burundi { background-position: -96px -475px; }
	.sprite-cameroon { background-position: -96px -494px; }
	.sprite-iceland { background-position: -96px -513px; }
	.sprite-uganda { background-position: -96px -532px; }

	.sprite-turkmenistan { background-position: -120px 0; }
	.sprite-yemen { background-position: -120px -19px; }
	.sprite-north_korea { background-position: -120px -38px; }
	.sprite-andorra { background-position: -120px -57px; }
	.sprite-isle_of_man { background-position: -120px -76px; }
	.sprite-anguilla { background-position: -120px -95px; }
	.sprite-bermuda { background-position: -120px -114px; }
	.sprite-sri_lanka { background-position: -120px -133px; }
	.sprite-nigeria { background-position: -120px -152px; }
	.sprite-saint_helena { background-position: -120px -171px; }
	.sprite-sudan { background-position: -120px -190px; }
	.sprite-zimbabwe { background-position: -120px -209px; }
	.sprite-norfolk_island { background-position: -120px -228px; }
	.sprite-pitcairn_islands { background-position: -120px -247px; }
	.sprite-european_union { background-position: -120px -266px; }
	.sprite-laos { background-position: -120px -285px; }
	.sprite-barbados { background-position: -120px -304px; }
	.sprite-haiti { background-position: -120px -323px; }
	.sprite-central_african_republic { background-position: -120px -342px; }
	.sprite-papua_new_guinea { background-position: -120px -361px; }
	.sprite-tanzania { background-position: -120px -380px; }
	.sprite-cook_islands { background-position: -120px -399px; }
	.sprite-french_polinesia { background-position: -120px -418px; }
	.sprite-bohemia_moravia { background-position: -120px -437px; }
	.sprite-netherlands_antilles { background-position: -120px -456px; }
	.sprite-tuvalu { background-position: -120px -475px; }
	.sprite-fiji { background-position: -120px -494px; }
	.sprite-cambodia { background-position: -120px -513px; }
	.sprite-maldives { background-position: -120px -532px; }

	.sprite-oman { background-position: -144px 0; }
	.sprite-antigua_barbuda { background-position: -144px -19px; }
	.sprite-benin { background-position: -144px -38px; }
	.sprite-niue { background-position: -144px -57px; }
	.sprite-burkina_faso { background-position: -144px -76px; }
	.sprite-guinea_bissau { background-position: -144px -95px; }
	.sprite-mali { background-position: -144px -114px; }
	.sprite-mauritania { background-position: -144px -133px; }
	.sprite-senegal { background-position: -144px -152px; }
	.sprite-western_africa { background-position: -144px -171px; }
	.sprite-aland_islands { background-position: -144px -190px; }
	.sprite-western_sahara { background-position: -144px -209px; }
	.sprite-madagascar { background-position: -144px -228px; }
	.sprite-eritrea { background-position: -144px -247px; }
	.sprite-ethiopia { background-position: -144px -266px; }
	.sprite-guernsey { background-position: -144px -285px; }
	.sprite-transnistria { background-position: -144px -304px; }
	.sprite-eastern_caribbean { background-position: -144px -323px; }
	.sprite-palestine { background-position: -144px -342px; }
	.sprite-angola { background-position: -144px -361px; }
	.sprite-danzig { background-position: -144px -380px; }
	.sprite-saar { background-position: -144px -399px; }
	.sprite-central_africa { background-position: -144px -418px; }
	.sprite-cape_verde { background-position: -144px -437px; }
	.sprite-seychelles { background-position: -144px -456px; }
	.sprite-equatorial_guinea { background-position: -144px -475px; }
	.sprite-chad { background-position: -144px -494px; }
	.sprite-west_congo { background-position: -144px -513px; }
	.sprite-niger { background-position: -144px -532px; }

	.sprite-french_indochina { background-position: -168px 0px; }
	.sprite-cayman_islands { background-position: -168px -19px; }
	.sprite-qatar { background-position: -168px -38px; }
	.sprite-brunei { background-position: -168px -57px; }
	.sprite-east_timor { background-position: -168px -76px; }
	.sprite-congo_democratic_republic { background-position: -168px -95px; }
	.sprite-lesotho { background-position: -168px -114px; }
	.sprite-samoa { background-position: -168px -133px; }
	.sprite-zambia { background-position: -168px -152px; }
	.sprite-british_india { background-position: -168px -171px; }
	.sprite-bhutan { background-position: -168px -190px; }
	.sprite-german_empire { background-position: -168px -209px; }
	.sprite-new_caledonia { background-position: -168px -228px; }
	.sprite-gambia { background-position: -168px -247px; }
	.sprite-solomon_islands { background-position: -168px -266px; }
	.sprite-nagorno_karabakh { background-position: -168px -285px; }
	.sprite-somalia { background-position: -168px -304px; }
	.sprite-falkland_islands { background-position: -168px -323px; }
	.sprite-malawi { background-position: -168px -342px; }
	.sprite-vanuatu { background-position: -168px -361px; }
	.sprite-liberia { background-position: -168px -380px; }
	.sprite-sierra_leone { background-position: -168px -399px; }
	.sprite-virgin_islands_british { background-position: -168px -418px; }
	.sprite-south_yemen { background-position: -168px -437px; }
	.sprite-kiribati { background-position: -168px -456px; }
	.sprite-tonga { background-position: -168px -475px; }
	.sprite-sao_tome_principe { background-position: -168px -494px; }
	.sprite-somaliland { background-position: -168px -513px; }
	.sprite-southern_rhodesia { background-position: -168px -532px; }

	.sprite-rhodesia { background-position: -192px 0px; }
	.sprite-rhodesia_nyasaland { background-position: -192px -19px; }
	.sprite-south_vietnam { background-position: -192px -38px; }
	.sprite-zaire { background-position: -192px -57px; }
	.sprite-guinea { background-position: -192px -76px; }
	.sprite-djibouti { background-position: -192px -95px; }
	.sprite-belgian_congo { background-position: -192px -114px; }
	.sprite-south_sudan { background-position: -192px -133px; }
	.sprite-curacao { background-position: -192px -152px; }
	.sprite-malaya { background-position: -192px -171px; }
	.sprite-malaya_british_borneo { background-position: -192px -190px; }
	.sprite-british_east_africa { background-position: -192px -209px; }
	.sprite-south_arabia { background-position: -192px -228px; }
	.sprite-straits_settlements { background-position: -192px -247px; }
	.sprite-british_honduras { background-position: -192px -266px; }
	.sprite-north_borneo { background-position: -192px -285px; }
	.sprite-turks_caicos_islands { background-position: -192px -304px; }
	.sprite-palau { background-position: -192px -323px; }
	.sprite-nauru { background-position: -192px -342px; }
	.sprite-comoros { background-position: -192px -361px; }
	.sprite-tristan_da_cunha { background-position: -192px -380px; }
	.sprite-ascension_island { background-position: -192px -399px; }
	.sprite-alderney { background-position: -192px -418px; }
	.sprite-liechtenstein { background-position: -192px -437px; }
	.sprite-british_west_africa { background-position: -192px -456px; }
	.sprite-crete { background-position: -192px -475px; }
	.sprite-ionian_islands { background-position: -192px -494px; }
	.sprite-marshall_islands { background-position: -192px -513px; }

	.sprite-newfoundland { background-position: -216px 0px; }
	.sprite-sarawak { background-position: -216px -19px; }
	.sprite-new_guinea { background-position: -216px -38px; }
	.sprite-italian_somaliland { background-position: -216px -57px; }
	.sprite-german_east_africa { background-position: -216px -76px; }
	.sprite-biot { background-position: -216px -95px; }
	.sprite-tokelau { background-position: -216px -114px; }
	.sprite-south_georgia { background-position: -216px -133px; }
	.sprite-saint_kitts_nevis { background-position: -216px -152px; }
	.sprite-saint_vincent_grenadines { background-position: -216px -171px; }
	.sprite-dominica { background-position: -216px -190px; }
	.sprite-greenland { background-position: -216px -209px; }
	.sprite-grenada { background-position: -216px -228px; }
	.sprite-british_antarctic_territory { background-position: -216px -247px; }
	.sprite-katanga { background-position: -216px -266px; }
	.sprite-saint_lucia { background-position: -216px -285px; }
	.sprite-montserrat { background-position: -216px -304px; }


	.sprite-czechoslovakia { background-position: 0 -323px; }
	.sprite-ceylon { background-position: -120px -133px; }
	.sprite-ottoman_empire { background-position: -24px -323px; }
	.sprite-portuguese_india { background-position: -24px -152px; }
	.sprite-portuguese_timor { background-position: -24px -152px; }
	.sprite-netherlands_east_indies { background-position: -24px -95px; }
	.sprite-reunion { background-position: 0 -418px; }
	.sprite-equatorial_african_states { background-position: 0 -418px; }
	.sprite-french_equatorial_africa { background-position: 0 -418px; }
	.sprite-french_west_africa { background-position: 0 -418px; }
	.sprite-french_somaliland { background-position: 0 -418px; }
	.sprite-new_hebrides { background-position: 0 -418px; }
	.sprite-saint_helena_ascension { background-position: -24px -361px; }
	.sprite-japanese_china { background-position: -48px -437px; }
	.sprite-ruanda_urundi { background-position: 0 -228px; }
	.sprite-ruanda_burundi { background-position: 0 -228px; }
	.sprite-qatar_dubai { background-position: -168px -38px; }
	.sprite-congo_free_state { background-position: -192px -114px; }
	.sprite-spitsbergen { background-position: -24px -114px; }
	.sprite-afars_issas { background-position: 0 -418px; }
	.sprite-papal_states { background-position: -72px -513px; }
	.sprite-span_civil_war { background-position: -24px -266px; }


